body{
    background-color: black;
}

.logoContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.logoContainer img{
    width: 7rem;
    height: 4rem;
}

